.brand-img {
	width: 50px;
}

.nav-title {
	font-size: 16pt !important;
	font-family: "Helvetica" !important;
}

.my-button {
	background-color: #5BA38D;
	border: none;
	padding: 12px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
	font-size: 13pt;
	font-family: "Montserrat";
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50px;
}

#mc_embed_signup {
	font-size: 14pt;
}

.section h2 {
	color: #004656
}

.nav-hamb {
	width: 40px;
}

.sponsor-pics img{
	border: 10px solid #FFFFFF;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	filter: grayscale(1);
}

.sponsor-pics img:hover {
	filter: none;
	cursor: pointer
}

.top-sponsors img{
	padding-bottom: 0px;
}

.sec-sponsors img {
	padding-top: 0px;
}