/* General */

.section h2 {
	color: #004656
}

.darker {
	color: #004656;
}

	/* Buttons */

.my-button {
	background-color: #5BA38D;
	border: none;
	padding: 12px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
	font-size: 13pt;
	font-family: "Montserrat";
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50px;
}

	/* Subscribe */

#mc_embed_signup {
	font-size: 14pt;
}

/* Navbar */

.dropdown-menu {
	opacity: 0.9 !important;
}

.nav-link {
	font-size: 9pt !important;
}

.dropdown-item {
	font-size: 10pt !important;
}

/* Footer */

.foot-logo {
	height: 30px;
}

.foot-logo:hover{
	cursor: pointer;
}

.foot-email:hover{
	text-decoration: underline;
}

/* Home */

.index-title {
	color: #66CDAA;
}

.index-content {
	padding-top: 15%;
}

.index-img {
	width: 90px;
	background-color: white;
	border-radius: 50%;
}

.white-link a {
	color: white;
}

.white-link a:hover {
	color: white;
}

.white-link p {
	font-size: 12pt;
}

/*.click-sponsors {
	font-size: 12pt;
	padding-top: 15%;
}

.arrow {
	height: 10pt;
}*/

/* Sponsor */

.sponsor-pics img{
	border: 10px solid #FFFFFF;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	filter: grayscale(1);
}

.sponsor-pics img:hover {
	filter: none;
	cursor: pointer
}

.top-sponsors img{
	padding-bottom: 0px;
}

.sec-sponsors img {
	padding-top: 0px;
}

/* Unused */

.carousel-inner .carousel-item {
	transition: -webkit-transform 1s ease;
	transition: transform 1s ease;
	data-interval: false;
	data-ride: false;
}

.nav-title {
	font-size: 16pt !important;
	font-family: "Helvetica" !important;
}

.nav-hamb {
	width: 40px;
}

.down-arrow {
    -webkit-transition-delay: .75s;
    -moz-transition-delay: .75s;
    transition-delay: .75s
}